.nav {
  background-color: #D8D8D8;
  padding: 10px;
  
}

.nav-link {
  color: black;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  font-weight: 10;
}

.nav-link:hover {
  color: white;
}