body {
  overflow-x: hidden;
}
.table {
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 20px;
  display: table;
  table-layout: fixed;
}
.table td {
  display: table-cell;
}
.table a{
  color: black;
  font-weight: 500;
  text-decoration: underline;
}
.table a:hover{
  color: grey;
}

.completed {
  text-decoration: underline;
  cursor: pointer;
}

.remove {
  height: 20px;
  width: 20px;
  cursor: pointer;
}