.page-title {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 40px;
  font-weight: 10;
  padding: 20px;
}

.input label {
  display: table-cell;
  width: 100px;
  font-family: 'Didact Gothic', sans-serif;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle
}

.input {
  display: table;
  margin: 20px;
}